<font size="6" color="Red">BITCOIN MARKET CAPITALIZATION</font>

Importing Dataset

In [3]:
import pandas as pd

data = pd.read_csv("CoinMarketCap_2017.csv")

Checking Dataset

In [4]:

data.head(-10)

,Unnamed: 0,24h_volume_usd,available_supply,id,last_updated,market_cap_usd,max_supply,name,percent_change_1h,percent_change_24h,percent_change_7d,price_btc,price_usd,rank,symbol,total_supply
0,0,9.007640e+09,1.672352e+07,bitcoin,1512549554,2.130493e+11,2.100000e+07,Bitcoin,0.12,7.33,17.45,1.000000e+00,12739.500000,1,BTC,1.672352e+07
1,1,1.551330e+09,9.616537e+07,ethereum,1512549553,4.352945e+10,NaN,Ethereum,-0.18,-3.93,-7.33,3.617670e-02,452.652000,2,ETH,9.616537e+07
2,2,1.111350e+09,1.684044e+07,bitcoin-cash,1512549578,2.529585e+10,2.100000e+07,Bitcoin Cash,1.65,-5.51,-4.75,1.200500e-01,1502.090000,3,BCH,1.684044e+07
3,3,2.936090e+09,2.779530e+09,iota,1512549571,1.475225e+10,2.779530e+09,IOTA,-2.38,83.35,255.82,4.241800e-04,5.307460,4,MIOTA,2.779530e+09
4,4,2.315050e+08,3.873915e+10,ripple,1512549541,9.365343e+09,1.000000e+11,Ripple,0.56,-3.70,-14.79,1.932000e-05,0.241754,5,XRP,9.999309e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1311,1311,NaN,NaN,safecoin,1512494057,NaN,NaN,SafeCoin,NaN,-1.12,9.27,1.000000e-08,0.000116,1312,SFE,NaN
1312,1312,NaN,NaN,pokecoin,1512499760,NaN,NaN,PokeCoin,NaN,-0.43,26.93,2.000000e-08,0.000234,1313,POKE,NaN
1313,1313,NaN,NaN,sportscoin,1512274759,NaN,NaN,SportsCoin,NaN,NaN,10.97,1.100000e-07,0.001216,1314,SPORT,1.980000e+07
1314,1314,NaN,NaN,omicron,1512525562,NaN,NaN,Omicron,NaN,0.89,8.59,1.131000e-05,0.134319,1315,OMC,1.014004e+07
1315,1315,NaN,NaN,pinkdog,1512538164,NaN,NaN,PinkDog,NaN,3.71,-42.70,1.000000e-08,0.000122,1316,PDG,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1326 entries, 0 to 1325
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          1326 non-null   int64
 1   24h_volume_usd      1270 non-null   float64
 2   available_supply    1031 non-null   float64
 3   id                  1326 non-null   object
 4   last_updated        1326 non-null   int64
 5   market_cap_usd      1031 non-null   float64
 6   max_supply          215 non-null    float64
 7   name                1326 non-null   object
 8   percent_change_1h   1273 non-null   float64
 9   percent_change_24h  1270 non-null   float64
 10  percent_change_7d   1283 non-null   float64
 11  price_btc           1326 non-null   float64
 12  price_usd           1326 non-null   float64
 13  rank                1326 non-null   int64
 14  symbol              1326 non-null   object
 15  total_supply        1211 non-null   float64
dtypes: float64(10), int64(3), object(3)
memory usage: 165.9+ KB

In [6]:
data.shape

(1326, 16)

In [7]:
data.index

RangeIndex(start=0, stop=1326, step=1)

Importing And Cleaning marketcap dataset

In [8]:
marketcap = data[["id", "market_cap_usd"]]

In [9]:
marketcap.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1326 entries, 0 to 1325
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1326 non-null   object
 1   market_cap_usd  1031 non-null   float64
dtypes: float64(1), object(1)
memory usage: 20.8+ KB

In [10]:
cleaned_marketcap = marketcap.query('market_cap_usd > 0')
cleaned_marketcap.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1031 entries, 0 to 1030
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              1031 non-null   object
 1   market_cap_usd  1031 non-null   float64
dtypes: float64(1), object(1)
memory usage: 24.2+ KB

In [11]:
cleaned_marketcap.index = cleaned_marketcap.index + 1

cleaned_marketcap.to_csv('cleaned_marketcap.csv')

Graph 1-> Top 10 Performing Coins

In [36]:
#Selecting top 10 coins by Market Cap
top10coins = cleaned_marketcap.sort_values(by= "market_cap_usd", ascending= False ).head(10)

#Setting the index
Capitalization = top10coins.set_index(top10coins.id)

# Calculating market cap percentage
Capitalization = Capitalization.assign(market_cap_percentage = 
                     lambda x :(x.market_cap_usd / data.market_cap_usd.sum())*100 )

Capitalization.to_csv('Top10_Coins_g1.csv')

Exploring volatality of coins:

Graph 2-> Top 10 gainers and Top 10 losers

In [37]:
vol = data[['id','percent_change_24h','percent_change_7d']]

#Setting the index to 'id' and dropping all NaN rows
vol = vol.set_index(['id']).dropna()

# Sorting the DataFrame by percent_change_24h in ascending order
vol_least = vol.sort_values(by=['percent_change_24h'])

# Sorting the DataFrame by percent_change_7d in ascending order
vol1_least = vol.sort_values(by=['percent_change_7d'])

# Checking the first few rows
print("Least volatile in 24 hrs:")
print(vol_least.head())
print("\n")

print("Least volatile in 7 days")
print(vol1_least.head())

vol_least.to_csv('Volatality_24h_g2.csv')
vol1_least.to_csv('Volatality_week_g2.csv')

Least volatile in 24 hrs:
               percent_change_24h  percent_change_7d
id
flappycoin                 -95.85             -96.61
credence-coin              -94.22             -95.31
coupecoin                  -93.93             -61.24
tyrocoin                   -79.02             -87.43
petrodollar                -76.55             542.96


Least volatile in 7 days
               percent_change_24h  percent_change_7d
id
royalties                   -9.06             -99.59
flappycoin                 -95.85             -96.61
credence-coin              -94.22             -95.31
cagecoin                   -36.26             -92.68
tyrocoin                   -79.02             -87.43

Lets see which coins has market cap bigger than 5 billion

In [39]:
# Selecting coins bigger than 5 billion 
bigcoins = cleaned_marketcap.query('market_cap_usd > 5e9')

# Printing out largecaps
bigcoins

             id  market_cap_usd
1       bitcoin    2.130493e+11
2      ethereum    4.352945e+10
3  bitcoin-cash    2.529585e+10
4          iota    1.475225e+10
5        ripple    9.365343e+09
6          dash    5.794076e+09
7      litecoin    5.634498e+09

How many coins are in golden league, big league, mid league and brozne league

In [44]:
golden_league = cleaned_marketcap.query('market_cap_usd > 5e9')
big_league = cleaned_marketcap.query('market_cap_usd > 600e6 and market_cap_usd < 5e9')
mid_league = cleaned_marketcap.query('market_cap_usd > 100e6 and market_cap_usd < 600e6')
brozne_league = cleaned_marketcap.query('market_cap_usd<100e6')

golden_league.to_csv('Coins_5billion.csv')
big_league.to_csv('Coins_between_600mil_5bill.csv')
mid_league.to_csv('Coins_between_100mil_600mill.csv')
brozne_league.to_csv('Coins_100million.csv')