In [4]:
import pandas as pd

data = pd.read_csv("CoinMarketCap.csv")

In [5]:
data.head()

,Unnamed: 0,24h_volume_usd,available_supply,id,last_updated,market_cap_usd,max_supply,name,percent_change_1h,percent_change_24h,percent_change_7d,price_btc,price_usd,rank,symbol,total_supply
0,0,22081300000,16785225,bitcoin,1515230661,284909052105,2.100000e+07,Bitcoin,-0.42,5.76,26.04,1.000000,16973.800000,1,BTC,16785225
1,1,5221370000,38739144847,ripple,1515230641,119207709132,1.000000e+11,Ripple,-0.26,-9.23,24.15,0.000186,3.077190,2,XRP,99993093880
2,2,5705690000,96803840,ethereum,1515230649,100115499075,NaN,Ethereum,0.29,-1.04,45.01,0.062517,1034.210000,3,ETH,96803840
3,3,1569900000,16896225,bitcoin-cash,1515230652,44424061657,2.100000e+07,Bitcoin Cash,0.03,7.99,2.81,0.158934,2629.230000,4,BCH,16896225
4,4,428305000,25927070538,cardano,1515230654,25916647856,4.500000e+10,Cardano,0.39,-5.87,64.99,0.000060,0.999598,5,ADA,31112483745

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 16 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          100 non-null    int64
 1   24h_volume_usd      100 non-null    int64
 2   available_supply    100 non-null    int64
 3   id                  100 non-null    object
 4   last_updated        100 non-null    int64
 5   market_cap_usd      100 non-null    int64
 6   max_supply          27 non-null     float64
 7   name                100 non-null    object
 8   percent_change_1h   100 non-null    float64
 9   percent_change_24h  100 non-null    float64
 10  percent_change_7d   100 non-null    float64
 11  price_btc           100 non-null    float64
 12  price_usd           100 non-null    float64
 13  rank                100 non-null    int64
 14  symbol              100 non-null    object
 15  total_supply        100 non-null    int64
dtypes: float64(6), int64(7), object(3)
memory usage: 12.6+ KB

In [11]:
data.shape

(100, 16)

In [14]:
data.index

RangeIndex(start=0, stop=100, step=1)